<script type="text/javascript">
	var lat = <%= @node_registration.latitude || 'null' %>
	var lng = <%= @node_registration.longitude || 'null' %>
	
	$(function(){
		initMapInNodeRegistration({lat: lat,lng: lng,markerDraggable: true});
	})
</script>

<div class="left">
<%= form_for(@node_registration, :builder => NodeRegistrationsHelper::RegFormBuilder) do |f| %>
  <% if @node_registration.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@node_registration.errors.count, "error") %> prohibited this node_registration from being saved:</h2>

      <ul>
      <% @node_registration.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<fieldset>
	<legend>Node-Daten</legend>
  <div class="field">
    <%= f.label 'Node'%><i> (MAC-Address - siehe Aufkleber Rückseite)</i><br />
 	<%= f.node_field  (@registerable_nodes || []).map {|n| [n.wlan_mac, n.id]} || []%>
  </div>
   <div class="field">
    <%= f.label :node_name, 'Name des Nodes (frei wählbar):' %><br />
    <%= f.text_field :node_name%>
  </div>
   <div class="field left">
    <%= f.label :user_id, 'Registriert durch:' %><br />
	<span>	 <%= f.object.user %> </span>
  </div>
   <div style="float:none">
	<%= image_tag f.object.user.image_url + "?s=60"%>
	</div>

   <div class="field">
    <%= f.label :operator_name, 'Name des Betreibers / Aufstellers:' %><br />
    <%= f.text_field :operator_name %>
  </div>
  <div class="field">
    <%= f.label :contact_mail, 'Öffentliche E-Mail-Adresse für Anfragen:' %><br />
    <%= f.text_field :contact_mail %>
  </div>
  <div class="field">
    <%= f.label :standort,'Standort:' %><br />
	<i>(z.B. Domkloster 4, 50667 Köln)</i><br />
    <%= f.text_field :standort %> &nbsp; 
		<span id="ajax-loader"style="display:none"><%=image_tag 'ajax-loader.gif'%></span> <br /> 
	<br/>
	<%= f.label :latitude, 'Lat:'%> 
	<%= f.text_field :latitude, {:read_only=> true, :size => 8, :class => "latlng"} %> - 
	<%= f.label :latitude, 'Lng:'%> 
	<%= f.text_field :longitude, {:read_only=> true, :size => 8,:class => "latlng"}%>
  </div>
  <div class="field">
    <%= f.label :notice, 'Hinweise:' %><br />
    <%= f.text_area :notice, {:rows => "6"} %>
  </div>
  <div class="actions">
 	<%= f.submit 'Speichern' %>	
<% end %>
</fieldset>
</div>
<div id="map" class="right"></div>