<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @node.user_id %>
</p>

<p>
  <b>Position:</b>
  <%= @node.position %>
</p>

<p>
  <b>Eth0 mac:</b>
  <%= @node.eth0_mac %>
</p>

<p>
  <b>Bat0 mac:</b>
  <%= @node.bat0_mac %>
</p>


<%= link_to 'Edit', edit_node_path(@node) %> |
<%= link_to 'Back', nodes_path %>
