<% content_for :head do %>
  <h1>Kennwort</h1>
<% end %>

<h2>Ändern des Kennworts</h2>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :reset_password_token %>

  <p><%= f.label :password, "Neues Kennwort:" %><br />
  <%= f.password_field :password %></p>

  <p><%= f.label :password_confirmation, "Neues Kennwort (Bestätigung):" %><br />
  <%= f.password_field :password_confirmation %></p>

  <p><%= f.submit "Kennwort ändern" %></p>
<% end %>

<%= render :partial => "devise/shared/links" %>