<% content_for :head do %>
  <h1>Kennwort</h1>
<% end %>

<h2>Neues Kennwort setzen</h2>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>

  <p><%= f.label :email, "E-Mail Adresse" %><br />
  <%= f.email_field :email %></p>

  <p><%= f.submit "Anweisungen zusenden" %></p>
<% end %>

<%= render :partial => "devise/shared/links" %>